@import "@/ui/variables.scss";

body {
  font-family: 'Roboto', sans-serif;
}
.grid-container {
  display: grid;
}
.thead {
  color: $gray;
  padding: $common-padding;
  margin-top: 10px;
}
.t-row {
  color: $gray-100;
  margin: 15px 10px;
  padding: 15px 0;
  border-top: $border-inner;
}
.btn-no-style {
  border: none;
  font-size: 14px;
  letter-spacing: .5px;
  color: $gray-100;
}
.remove {
  color: red
}
.bold {
  font-weight: bold;
}
.d-inline-block {
  display: inline-block;
}
.center-block {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
