$border-inner: 1px solid #d6d6d6;
$border-outher: 1px solid #c6c6c6;
$common-padding: 5px 10px;
$large-padding: 20px;
$hover-color: #f4f4f4;
$accent-color: #ff7300;
$common-transition: all .3s ease;
$selected-color: #d4edda;
$gray: #b6b6b6;
$gray-100: #6f6f6f;
